.bgblack_navbar {
  position: relative;
  top: -8px;
  height: 80vh;
  background-image: url("../../images/user/outside_bg.jpg");
  background-size: cover;
}
.navbar {
  position: relative;
  width: 100%;
  margin: auto;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.548);
}
@media (max-width: 991px) {
  .navbar {
    border-radius: 0px !important;
  }
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 19px;
  font-weight: 600;
}
ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar button {
  width: 175px;
  height: 50px;
  background-color: #00000000;
  color: white;
  border: 2px solid white;
}
.navbar svg {
  width: 30px;
}

.dixor_menu {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.dixor_menu h1 {
  font-size: 3rem;
}

.dixor_menu a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .dixor_menu h1 {
    font-size: 10rem;
  }
}
@media (max-width: 425px) {
  .dixor_menu h1 {
    font-size: 3rem;
  }
}

@media (max-width: 425px) {
  .dixor_menu span {
    font-size: 30px;
    margin-right: 50px;
  }
}

.color {
  color: #826a45;
} 

/* menu css */
.menu_col {
  height: 500px;
}
/* .breakfast_img {
  height: 100%;
  width: 80%;
  background-image: url("../../images/user/breakfast_bg.jpg");
  background-size: cover;
} */
/* .menu_badge {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #826a45;
  top: 5%;
  right: -2%;
  font-family: cursive;
  clip-path: polygon(
    45% 1.33975%,
    46.5798% 0.60307%,
    48.26352% 0.15192%,
    50% 0%,
    51.73648% 0.15192%,
    53.4202% 0.60307%,
    55% 1.33975%,
    89.64102% 21.33975%,
    91.06889% 22.33956%,
    92.30146% 23.57212%,
    93.30127% 25%,
    94.03794% 26.5798%,
    94.48909% 28.26352%,
    94.64102% 30%,
    94.64102% 70%,
    94.48909% 71.73648%,
    94.03794% 73.4202%,
    93.30127% 75%,
    92.30146% 76.42788%,
    91.06889% 77.66044%,
    89.64102% 78.66025%,
    55% 98.66025%,
    53.4202% 99.39693%,
    51.73648% 99.84808%,
    50% 100%,
    48.26352% 99.84808%,
    46.5798% 99.39693%,
    45% 98.66025%,
    10.35898% 78.66025%,
    8.93111% 77.66044%,
    7.69854% 76.42788%,
    6.69873% 75%,
    5.96206% 73.4202%,
    5.51091% 71.73648%,
    5.35898% 70%,
    5.35898% 30%,
    5.51091% 28.26352%,
    5.96206% 26.5798%,
    6.69873% 25%,
    7.69854% 23.57212%,
    8.93111% 22.33956%,
    10.35898% 21.33975%
  );
} */
.bf_menu {
  width: 90%;
}
.menu_item img {
  width: 90px;
  height: 90px;
}

button {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 1rem;
  font-weight: 600;
  background-color: #59300e;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3px 1px;
  cursor: pointer;
}